name: CI/CD

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  ci-cd:
    name: CI/CD
    uses: StudioLE/Actions/.github/workflows/ci-cd-dioxus-web.yml@v7
    with:
      package_name: lineweights
      dioxus_version: 0.6.3
      web_repo_name: StudioLE/LineweightsWeb
    secrets:
      web_repo_token: ${{ secrets.WEB_REPO_TOKEN }}