name: CI/CD

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  ci-cd:
    name: CI/CD
    uses: StudioLE/Actions/.github/workflows/ci-cd-dioxus-web.yml@v7
    with:
      dioxus_web_name: lineweights
      dioxus_web_artifact: WebAssembly
      dioxus_web_repo: StudioLE/LineweightsWeb
    secrets:
      dioxus_web_repo_token: ${{ secrets.WEB_REPO_TOKEN }}